<nav class="navbar navbar-expand-lg navbar-light bg-light" id="header_main">
  <div class="container">
    <a class="navbar-brand navbarHome" href="#">
      <img class="logoHeader" src="../../assets/header/me-indica-navbar-logo.png" alt="Logo Me Indica">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
<!--        <li class="nav-item navItem">-->
<!--          <a class="nav-item navItem nav-link" href="#">Opcão 1</a>-->
<!--        </li>-->

<!--        <li class="nav-item navItem">-->
<!--          <a class="nav-item navItem nav-link" href="#">Opcão 2</a>-->
<!--        </li>-->

<!--        <li class="nav-item navItem">-->
<!--          <a class="nav-item navItem nav-link" href="#">Opcão 3</a>-->
<!--        </li>-->

        <li class="nav-item">
          <button type="button" class="btn waitList" data-toggle="modal" data-target="#exampleModal">
            Lista de Espera
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
