.areaInfo {
  padding: 7%;
}

.waitList {
  background-color: rgba(244, 87, 0, 0.68);
  border-radius: 10%;
  padding: 10px;
  color: white !important;
  margin: 40px 0 40px 0;
}

.areaInfo h1 {
  margin-bottom: 40px;
  padding: 0 10% 0 10%;
}

.areaInfo h2 {
  padding: 0 5% 0 5%;
}

.areaInfo p {
  padding: 0 2% 0 2%;
}
