<div class="container areaInfo">
  <div class="row d-flex justify-content-center align-items-center">
    <h1>
      Me Indica
    </h1>
  </div>

  <div class="row d-flex justify-content-center align-items-center">
    <h2>
      Um novo jeito de se fazer gestão de pessoas está chegando</h2>
  </div>

  <div class="row d-flex justify-content-center align-items-center">
    <button type="button" class="btn waitList" data-toggle="modal" data-target="#exampleModal">
      Lista de Espera
    </button>
  </div>

  <div class="row d-flex justify-content-center align-items-center">
    <p>
      No momento, o nosso produto ainda não está disponível. Ao inserir seu nome em nossa lista de espera, você nos autoriza a utilizar as informações prestadas para fins de estudos estatísticos, desenvolvimento de produtos e estratégicas comerciais. Poderemos, no futuro, entrar em contato com você para realizar pesquisas de mercado ou convidá-lo para testar produtos e/ou serviços. Obrigado (a)!
    </p>
  </div>
</div>
