.rowStyle0 {
  height: 60vh !important;
}

.waitList {
  background-color: rgba(244, 87, 0, 0.68);
  border-radius: 10%;
  padding: 10px;
  color: white !important;
}

.areaText {
  padding: 5vh 5vw 5vh 5vw;
}

.areaImg {
  height: 30vh;
}

.rowStyle1 {
  height: 50vh;
}

#img0 {
  background-color: rgb(255, 204, 0);
}

#img0 img {
}

#img1 {
  background-color: rgb(255, 204, 0);
}

#img2 {
  background-color: rgb(255, 77, 138);
}

#img3 {
  background-color: rgb(255, 77, 138);
}

#text0 {
  background-color: rgb(255, 135, 0);
  color: white;
}

#text0 .row.justify-content-start{
  padding-left: 5% !important;
}

#text1 {
  background-color: #f5f5f5;
}

#text2 {
  background-color: #f5f5f5;
}

#text3 {
  background-color: #f5f5f5;
}
