<div class="container-fluid row contentArea">
  <div class="col-sm-5 order-sm-1 imgAreaMain d-flex align-items-center justify-content-center">
    <img src="../../assets/body-info/photo_0.png" alt="Notebook Mockup">
  </div>

  <div class="col-sm-7 order-sm-0 textAreaMain d-flex justify-content-center align-items-center">
    <div class="row justify-content-start contentLine">
      <h1>Sobre Nos</h1>

      <p>
        et molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu.
      </p>

      <button type="button" class="btn " data-toggle="modal" data-target="#exampleModal">
        Lista de Espera
      </button>
    </div>
  </div>
</div>

<div class="container-fluid row contentArea contentAreaSub">
  <div class="col-sm-6 order-sm-1 imgAreaSub background-color-0 d-flex align-items-center justify-content-center">
    <img src="../../assets/body-info/photo_0.png" alt="Notebook Mockup">
  </div>

  <div class="col-sm-6 order-sm-0 textAreaSub areaWhite d-flex justify-content-center align-items-center">
    <div class="row justify-content-start contentLine" style="padding-bottom: 200px">
      <h1>Sobre Nos</h1>

      <p>
        et molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid row contentArea">
  <div class="col-sm-6 order-sm-0 imgAreaSub background-color-1 d-flex align-items-center justify-content-center">
    <img src="../../assets/body-info/photo_0.png" alt="Notebook Mockup">
  </div>

  <div class="col-sm-6 order-sm-1 textAreaSub areaWhite d-flex justify-content-center align-items-center">
    <div class="row justify-content-start contentLine">
      <h1>Sobre Nos</h1>

      <p>
        et molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid row contentArea">
  <div class="col-sm-6 order-sm-1 imgAreaSub background-color-1 d-flex align-items-center justify-content-center">
    <img src="../../assets/body-info/photo_0.png" alt="Notebook Mockup">
  </div>

  <div class="col-sm-6 order-sm-0 textAreaSub d-flex justify-content-center align-items-center">
    <div class="row justify-content-start contentLine">
      <h1>Sobre Nos</h1>

      <p>
        et molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu.
      </p>
    </div>
  </div>
</div>

<app-info></app-info>
