<div class="container-fluid">
  <div class="row rowStyle0">
    <div class="col-lg-5 order-lg-1 d-flex align-items-center justify-content-center" id="img0">
      <img class="areaImg" src="../../assets/body-info/photo_0.png" alt="Notebook Mockup">
    </div>

    <div class="col-lg-7 order-lg-0 d-flex align-items-center justify-content-center" id="text0">
      <div class="row justify-content-start">
        <div class="row">
          <h1>Um novo jeito de se fazer gestão de pessoas está chegando</h1>
        </div>

        <div class="row">
          <p>
            Você já parou para pensar como o processo de seleção, avaliação e gestão de pessoas é complexo e burocrático? A Me Indica tem como objetivo principal trazer uma nova experiência no setor dos Recursos Humanos. Inscreva-se para ficar sabendo de todas as novidades da nossa aplicação
          </p>
        </div>

        <div class="row">
          <button type="button" class="btn waitList" data-toggle="modal" data-target="#exampleModal">
            Lista de Espera
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row rowStyle1">
    <div class="col-lg-6 d-flex align-items-center justify-content-center" id="img1">
      <img class="areaImg" src="../../assets/body-info/photo_1.png" alt="Notebook Mockup">
    </div>

    <div class="col-lg-6 areaText d-flex align-items-center justify-content-center" id="text1">
      <div class="row">
        <div class="row">
          <h1>
            Análise Humanizada e Gestão interativa
          </h1>
        </div>

        <div class="row">
          <p>
            Sabemos da importância de um relacionamento bem estruturado entre empresa e seus colaboradores, onde esses últimos se sintam confortáveis e engajados no desenvolvimento de seu trabalho. Para que isso ocorra, é necessário que se avalie não só as competências técnicas de um possível colaborar, mas também a sua personalidade, seus valores e objetivos de vida. E se todos esses fatores fossem analisados ao indicar um colaborador a uma empresa, e uma empresa a um colaborador, atendendo as demandas por vagas com um processo intuitivo, com resultados apresentados em tempo real? Nós, da Me Indica, sabemos como fazer isso. Sabemos não somente como começar relações profissionais, mas como começar relações profissionais de sucesso.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row rowStyle1">
    <div class="col-lg-6 order-lg-1 d-flex align-items-center justify-content-center" id="img2">
      <img src="../../assets/body-info/photo_2.png" class="areaImg" alt="Notebook Mockup">
    </div>

    <div class="col-lg-6 order-lg-0 areaText d-flex align-items-center justify-content-center" id="text2">
      <div class="row">
        <div class="row">
          <h1>Agilidade na Seleção e Gestão dos candidatos</h1>
        </div>

        <div class="row">
          <p>
            Tempo é dinheiro. O período de tempo que se gasta num processo de seleção faz diferença para o empregador e para o empregado. Ambos deixam de trabalhar e de ganhar dinheiro enquanto lidam com provas, entrevistas e testes. Na Me Indica, desenvolvemos o método para agilizar o processo de recursos humanos por meio de uma plataforma de inteligência artificial que filtra, direciona e demonstra as melhores e mais precisas informações. Não só indicando, mas gerindo os melhores resultados para atender as expectativas do usuário.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row rowStyle1">
    <div class="col-lg-6 order-lg-0 d-flex align-items-center justify-content-center" id="img3">
      <img class="areaImg" src="../../assets/body-info/photo_3.png" alt="Notebook Mockup">
    </div>

    <div class="col-lg-6 order-lg-0 areaText d-flex align-items-center justify-content-center" id="text3">
      <div class="row">
        <div class="row">
          <h1>Serviços personalizados e intuitivo</h1>
        </div>

        <div class="row">
          <p>
            Somos mais do que apenas uma plataforma de empregos. Somos uma plataforma inteligente e interativa de gestão de pessoas com serviços direcionados para atender às principais demandas do usuário; passando pela seleção de candidatos, análise de perfil, análise de ambiente institucional, análise de desempenho profissional e gestão de pessoas. E o melhor? Tudo isso de maneira bem intuitiva e leve, pensado para que diferentes pessoas e empresas possam utilizar.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<app-info></app-info>
